:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --color1: #0f141a;
  --color2: rgb(222, 236, 236);

  --bShadow: rgba(0, 0, 0, 0.253);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

